.cache
.classpath
.idea/*
.metadata
.settings
.project
.version.properties
target
tmp
*.class
*.iml
*.swp
*.log
.DS_Store
build-target
out/
.pre-commit-config.yaml
kafka_conf
src/main/resources/system/test
.metals/
.vscode/
